<% if resource.errors.any? %>
  <div
    class="mb-6 rounded-lg border border-red-300 bg-red-50 p-4 text-red-700"
    data-turbo-cache="false"
  >

    <ul class="list-disc list-inside space-y-1">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>