<header class="bg-[#FDEBD0] border-b border-gray-200">
  <div class="max-w-7xl mx-auto px-4 py-3 flex items-center justify-between">
    <!-- ロゴ -->
    <div class="flex items-center space-x-2">
      <%= image_tag "logo.svg",
        class: "h-8 w-8 object-contain",
        alt: "okita ロゴ" %>

      <span class="text-xl font-bold text-gray-800">
       okita!!
      </span>
    </div>
</header>