<div class="max-w-md mx-auto mt-10 bg-white p-6 rounded-lg shadow space-y-8">

  <%= render "challenges/summary", challenge: @challenge %>
  <%= render "challenges/participants", challenge: @challenge, participants: @participants %>
  <%= render "challenges/action_area", challenge: @challenge, participants: @participants %>
  
</div>