<p><%= @resource.name %> 様</p>

<p>
  パスワード再設定のご依頼を受け付けました。<br>
  下記のリンクから、新しいパスワードを設定してください。
</p>

<p>
  <%= link_to 'パスワードを再設定する', edit_password_url(@resource, reset_password_token: @token) %>
</p>

<p>
  ※ 本メールにお心当たりがない場合は、このメールを破棄してください。
</p>

<p>
  なお、上記リンクからパスワードを再設定しない限り、現在のパスワードが変更されることはありません。
</p>